<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="E-commerce portal automation" parallel="classes">
    <test name="product purchase" parallel="classes">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="shop"></include>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <listeners>-->
<!--            <listener class-name="TestRunners"/>-->
<!--        </listeners>-->

<!--        <parameter name="browserName" value="chrome" />-->

        <classes>
            <class name="TestRunners.ProductPurchaseTestRunner"/>
            <class name="TestRunners.ShopPageTestRunner"/>
        </classes>
    </test>
</suite>


