<suite thread-count="1" verbose="1" name="E-commerce portal automation">
    <test name="product purchase">
        <groups>
            <run>
                <include name="purchase"></include>
            </run>
        </groups>

        <classes>
            <class name="TestRunners.ProductPurchaseTestRunner"/>
        </classes>
    </test>
</suite>


